.about {
    // display: none;
    font-family: 'Athiti';
    line-height: 2;
    padding: 50px;
}

.about-list {
    font-size: 14px;
    padding-top: 20px;
    font-weight: bold;
}

.made-with {
    padding-top: 20px;
    font-style: italic;
}