.calculator {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    width: 250px;
    padding: 15px 0;
    font-family: 'Athiti';
    grid-gap: 5px;
    span {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid $grey;
        border-radius: 100%;
        }
}

.result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    min-height: 20px;
    cursor: pointer;
}