.title-section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.title {
    font-family: 'Poiret One';
    font-size: 2.25rem;
    text-transform: uppercase;
    margin: 50px 0;
    cursor: pointer;
}

.title-animated {
    text-align: center;
    color: black;
    font-family: 'Athiti';
    text-transform: uppercase;
    font-size: 18px;
    width: 260px;
    align-self: center;
    padding-bottom: 20px;
    font-weight: bold;

}

@keyframes blink-animation {
    to {
    visibility: hidden;
    }
    }
    @-webkit-keyframes blink-animation {
    to {
    visibility: hidden;
    }
}

header {
    margin: 10px auto;
    text-align: center;
}

nav {
    width: 95%;
    margin: 0 auto;
    @include tablet-mode {
        width: auto;
    }
}

.site-menu {
    // display: grid;
    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);
    font-family: 'Athiti';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    @include tablet-mode {
        display: flex;
        font-size: 18px;
    }
    li {
        @include tablet-mode {
            padding: 0 10px;
        }
        a {
            color: $black;
            text-decoration: none;
            transition: border-bottom 0.3s ease-in;

            &:visited {
                color: $black;
            }

            &:hover {
                border-bottom: 4px solid #000;
            }
        }
    }
}

.clock-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.weather-menu {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.unit-menu {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.todo-menu {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

.calculator-menu {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}