.todo {
    display: none;
    padding-top: 50px;
    text-align: center;
    font-family: 'Athiti';
    h1 {
        padding: 10px 0;
    }
}

input[type="text"] {
    outline: 0;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Athiti';
}

button[type="submit"] {
    outline: 0;
    border: 1px solid $button;
    border-radius: 5px;
    background-color: $white;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Athiti';
}

.tasksBoard {
    display: none;
    font-size: 14px;
    text-align: left;
}

.delete {
    color: $button;
    font-size: 20px;
}

.list-container {
    padding: 15px 5px;
}

#clear-list {
    text-transform: uppercase;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}