.todo {
    display: none;
    padding-top: 80px;
}

input[type="text"] {
    outline: 0;
    border: none;
}

button {
    outline: 0;
    border: none;
}

.tasksBoard {
    display: none;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
}

.delete {
    cursor: pointer;
}